<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    div {
      opacity: 0.7;
      width: 500px;
      height: 20px;
      /*font-weight: bolder;*/
      /*text-align: center;*/
    }
    </style>
  </head>
  <body>
    <h1 style='font-size:35pt'><%= title %></h1>
    <span><a style="text-decoration:none" href='https://www.google.com'>Click here to view the live application</a><span> <br /> <br />
    <span>Welcome to the official ProjectOverflow API.</span> <br /> <br />
    <span><b>NOTE:</b> No authentication is required to make use of this API. Feel free to contribute, edit, or delete as much as you want! <br /> <br /> <b>Updates Coming Soon</b></span>
    <h2>HOW TO USE:</h2>
    <h3>GET ALL QUESTIONS</h3>
    <div style='background-color:green'> GET https://project-overflow-db.herokuapp.com/questions</div>
    <h3>GET ALL QUESTIONS BY SUBJECT</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/questions/:subject_id</div>
    <h3>GET ALL ANSWERS</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/answers</div>
    <h3>HOW TO CREATE A QUESTION</h3>
    <div style='background-color:blue' width:'100px'> POST https://project-overflow-db.herokuapp.com/questions</div>
    <h3>JSON:</h3>
    <code>
      {
      "question": "the question", <br />
      "qtopic_id": "1" <br />
    }
    </code>




  </body>
</html>
