<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body {
      background-color: lightgrey;
    }
    div {
      opacity: 0.7;
      width: 550px;
      height: 20px;
      color: white;
      /*font-weight: bolder;*/
      /*text-align: center;*/
    }
    h3 {
      text-decoration: underline;
    }
    footer {
      background-color:rgb(26,26,26);
  opacity: .7,
  color: white,
  height: 70,
  text-align: center,
  padding: 1% 0 5% 0,
  right: 0,
  bottom: 0,
  left: 0
    }
    </style>
  </head>
  <body>
    
    <h1 style='font-size:35pt'><%= title %></h1>
    <span><a style="text-decoration:none" href='https://www.google.com'>Click here to view the live application</a><span> <br /> <br />
    <span>Welcome to the official ProjectOverflow API.</span> <br /> <br />
    <span><b>UPDATE 5-22-17</b> No authentication is required to make use of this API. Feel free to contribute, edit, or delete as much as you want! <br /> <br />
    <span><b>UPDATE 5-22-17</b> question_sub parameter values currently supported are: [javascript,react,express,node] </span> <br /> <br />
    <span><b>UPDATE 5-22-17</b> documentation parameter values currently supported are: [javascript,react,express,nodejs] </span> <br /> <br />
    <span><b>UPDATE 5-25-17</b> Creating, updating and deleting documentation is not currently supported. </span> <br /> <br />

      <b>Updates Coming Soon</b></span>

    <h2>HOW TO USE:</h2>
    <h3>GET ALL DOCUMENTATION</h3>
    <div style='background-color:green'> GET https://project-overflow-db.herokuapp.com/documentation</div>
    <h3>GET ALL DOCUMENTATION BY SUBJECT</h3>
    <div style='background-color:green'> GET https://project-overflow-db.herokuapp.com/documentation/:subject</div>

    <h3>GET ALL QUESTIONS</h3>
    <div style='background-color:green'> GET https://project-overflow-db.herokuapp.com/questions</div>
    <h3>GET ALL QUESTIONS BY SUBJECT</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/questions/:subject_id</div>
    <h3>GET ALL QUESTIONS WITH ANSWERS </h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/QA</div>
    <h3>GET ALL QUESTIONS WITH ANSWERS BY SUBJECT</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/QA/:question_sub</div>
    <h3>GET ONE QUESTION WITH ANSWERS</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/QAS/:qquestion_id</div>
    <h3>GET ALL ANSWERS</h3>
    <div style='background-color:green' width:'100px'> GET https://project-overflow-db.herokuapp.com/answers</div>
    <h3>HOW TO CREATE A QUESTION</h3>
    <div style='background-color:blue' width:'100px' height: '300px'> POST https://project-overflow-db.herokuapp.com/questions</div>
    <h4>JSON:</h4>
    <code>
      {
      "question": "the question", <br />
      "qtopic_id": "1" <br />
    }
  </code> <br /> <br />
    <h3> HOW TO CREATE AN ANSWER </h3>
    <div style='background-color:blue' width:'100px'> POST https://project-overflow-db.herokuapp.com/answers</div>
    <h4>JSON:</h4>
    <code>
      {
      "answer": "the answer", <br />
      "aquestion_id": "# of aquestion_id"
    }
  </code>
    <h3> HOW TO UPDATE A QUESTION </h3>
    <div style='background-color:grey' width:'100px' height: '300px'> PATCH https://project-overflow-db.herokuapp.com/questions</div>

    <h4>JSON:</h4>
    <code>
      {
      "qquestion_id": "# qquestion_id", <br />
      "question": "the question to be updated"
    }
  </code>
    <h3> HOW TO UPDATE AN ANSWER </h3>
    <div style='background-color:grey' width:'100px' height: '300px'> PATCH https://project-overflow-db.herokuapp.com/questions</div>

    <h4>JSON:</h4>
    <code>
      {
      "answer": "the answer to be updated", <br />
      "aquestion_id": "# of aquestion_id to be updated"
    }
  </code>
    <h3> HOW TO DELETE A QUESTION </h3>
    <div style='background-color:red' width:'100px' height: '300px'> DELETE https://project-overflow-db.herokuapp.com/questions/qquestion_id</div>

    <h4>JSON:</h4>
    <code>
      {
      "qquestion_id": "# qquestion_id", <br />
    }
  </code>
    <h3> HOW TO DELETE AN ANSWER </h3>
    <div style='background-color:red' width:'100px' height: '300px'> DELETE https://project-overflow-db.herokuapp.com/answers/:answer_id</div>
    <h4>JSON:</h4>
    <code>
      {
      "answer_id": "# of answer_id" <br />
    }
  </code>
  <div></div>
  <footer>ProjectOverflow &copy; 2017 </footer>







  </body>
</html>
