body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

footer {
background-color:rgb(26,26,26);
opacity: .7;
color: white;
height: 0;
text-align: center;
padding: 1% 0 5% 0;
position: fixed;
right: 0;
bottom: 0;
left: 0;
margin-top: -50px;
}

div{
  margin-bottom: 50px;
}

#flex-wrapper{
  display: flex;
  flex-direction: column;
}
